.root {
  color: #212121;
  overflow: hidden;
}

.root > header > h1, p {
  margin-block-start: 0;
  margin-block-end: 0.5rem;
}

header {
  width: 100%;
  text-align: center;
  padding: 1rem;
}

header > p {
  color: #636363
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer > ul > li {
  padding-bottom: 0.4rem;
}

.App {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50vh;
}

